body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: lightgray;
  
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3b5998;
	color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.logoAndRe {
  display: flex;
  margin: 0 0 0 10%;
}

.registerButton {
  background-color: limegreen;
  height: 20px;
  width: 40px;
  border-style: none;
  margin: 40px 0 0 8px;
}

header a {
  height: 30px;
  padding: 0;
  margin-top: 40px; 
  margin-right: 23%;
}

main {
 margin: 0px;
 padding: 1% 15% 20% 15%;
 
}

main h2 {
  margin: 0;
}

.belowMainH2 {
  display: flex;
  margin: 0;
}

h1 {
  padding: 10px 0px 5px 0px;
  margin-left: 50%;
}

.content {
  display: flex;
  margin-top: 30px;
  padding: 0;
}

.brand {
  background-color: white;
  text-align: center;
  margin-right:10px;
}

.person {
  background-color: white;
  text-align: center;
  margin-left: 10px;
}

.leftFigureBtn {
  margin-top: 50px;
  width: 50px;
  height: 35px;
}

.rightFigureBtn {
  margin-top: 50px;
  width: 50px;
  height: 35px;
}