body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: lightgray;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3b5998;
	color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

h1 {
  padding: 10px 0px 5px 0px;
}

.logoAndRe {
  display: flex;
  align-items: center;
}

.register-button {
  background-color: limegreen;
  margin-left: 8px;
  padding: 4px;
  border-radius: 2px;
}